In [2]:
import pandas as pd

In [16]:
lsss = ['{"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}','{"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}']

df = pd.DataFrame(lsss)
df.head()

                                                   0
0  {"contact_id": 4661, "name": "Cecilia Velasco"...
1  {"contact_id": 3765, "name": "Mariana Ellis", ...

In [17]:
import re
ls =[]
for i in range(len(df[0])):
    ls.append(re.findall('[0-9]{4}', df[0][i])[0])
df['contact_id'] = ls

In [18]:
df

                                                   0 contact_id
0  {"contact_id": 4661, "name": "Cecilia Velasco"...       4661
1  {"contact_id": 3765, "name": "Mariana Ellis", ...       3765

In [19]:
df = df.rename(columns={0:'contact_info'})
df

                                        contact_info contact_id
0  {"contact_id": 4661, "name": "Cecilia Velasco"...       4661
1  {"contact_id": 3765, "name": "Mariana Ellis", ...       3765

In [20]:
df.dtypes

contact_info    object
contact_id      object
dtype: object

In [21]:
# Convert the "contact_id" column to an int64 data type.
df['contact_id'] = df['contact_id'].astype(int)
df.dtypes

contact_info    object
contact_id       int32
dtype: object

In [22]:
p = '(?:"name": ")(\s*\w{1,}\s*\w{1,})'
x = pd.DataFrame(df['contact_info'].str.extractall(p, flags=re.I))
x.reset_index(inplace = True)
x = x[0]
df['name'] = x
df

,contact_info,contact_id,name
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco""...",4661,Cecilia Velasco
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ...",3765,Mariana Ellis

In [23]:
# Extract the email from the contacts and add the values to a new column.
q = '(?:"email": ")(.*)(?:"})'
email = pd.DataFrame(df['contact_info'].str.extractall(q, flags=re.I))
email.reset_index(inplace = True)
email = email[0]
df['email'] = email
df.head()

,contact_info,contact_id,name,email
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco""...",4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ...",3765,Mariana Ellis,mariana.ellis@rossi.org

In [24]:
contact_info_clean = df[['contact_id', 'name', 'email']]
contact_info_clean.head()

   contact_id             name                         email
0        4661  Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana Ellis       mariana.ellis@rossi.org

In [33]:
p = '(\s*\w{1,})(?:\s*\w{1,})'
first_name = pd.DataFrame(contact_info_clean['name'].str.extractall(p, flags=re.I))
first_name.reset_index(inplace = True)
first_name = first_name[0]
contact_info_clean['first_name'] = first_name
contact_info_clean

,contact_id,name,email,first_name,last_name
0,4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr,Cecilia,Velasco
1,3765,Mariana Ellis,mariana.ellis@rossi.org,Mariana,Ellis

In [34]:
first_name

0    Cecilia
1    Mariana
Name: 0, dtype: object

In [35]:
p = '(?:\s*\w{1,}\s)(\s*\w{1,})'
last_name = pd.DataFrame(contact_info_clean['name'].str.extractall(p, flags=re.I))
last_name.reset_index(inplace = True)
last_name = last_name[0]
contact_info_clean['last_name'] = last_name
contact_info_clean

,contact_id,name,email,first_name,last_name
0,4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr,Cecilia,Velasco
1,3765,Mariana Ellis,mariana.ellis@rossi.org,Mariana,Ellis

In [36]:
# Reorder the columns
contact_info_clean = contact_info_clean[['contact_id','first_name','last_name','email']]
contact_info_clean.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org

In [37]:
# Check the datatypes one more time before exporting as CSV file.
contact_info_clean.dtypes

contact_id     int32
first_name    object
last_name     object
email         object
dtype: object

In [38]:
# Export the DataFrame as a CSV file. 
contact_info_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

<class 'OSError'>: Cannot save file into a non-existent directory: 'Resources'