In [1]:
import pandas as pd
import json

In [4]:
ls = ['{"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}','{"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}']

df = pd.DataFrame(ls)
df.head()

                                                   0
0  {"contact_id": 4661, "name": "Cecilia Velasco"...
1  {"contact_id": 3765, "name": "Mariana Ellis", ...

In [11]:
for item in df[0]:
    y = json.loads(item)
    print(y)

{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}
{'contact_id': 3765, 'name': 'Mariana Ellis', 'email': 'mariana.ellis@rossi.org'}

In [10]:
for item in df[0]:
    y = json.loads(item)
    print(y["name"])

Cecilia Velasco
Mariana Ellis

In [12]:
dict_values = []

for item in df[0]:
    testlist = []
    y = json.loads(item)
    testlist.append(y['contact_id'])
    testlist.append(y['name'])
    testlist.append(y['email'])
    dict_values.append(testlist)

dict_values

[[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr'],
 [3765, 'Mariana Ellis', 'mariana.ellis@rossi.org']]

In [13]:
contact_info_df = pd.DataFrame(dict_values)
contact_info_df

      0                1                             2
0  4661  Cecilia Velasco  cecilia.velasco@rodrigues.fr
1  3765    Mariana Ellis       mariana.ellis@rossi.org

In [16]:
contact_info_df = contact_info_df.rename(columns={0:'contact_id', 1:'name', 2:'email'})
contact_info_df

   contact_id             name                         email
0        4661  Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana Ellis       mariana.ellis@rossi.org

In [17]:
contact_info_df.dtypes

contact_id     int64
name          object
email         object
dtype: object

In [25]:
for item in range(len(contact_info_df['name'])):
    splt = contact_info_df['name'][item].split(" ")
    contact_info_df['first_name'][item] = splt[0]
    contact_info_df['last_name'][item] = splt[1]
contact_info_df

<ipython-input-25-cce129007344>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contact_info_df['first_name'][item] = splt[0]
<ipython-input-25-cce129007344>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contact_info_df['last_name'][item] = splt[1]

,contact_id,name,email,first_name,last_name
0,4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr,Cecilia,Velasco
1,3765,Mariana Ellis,mariana.ellis@rossi.org,Mariana,Ellis

In [26]:
del contact_info_df['name']
contact_info_df

   contact_id                         email first_name last_name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis

In [27]:
contact_info_df = contact_info_df[['contact_id','first_name','last_name','email']]
contact_info_df

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org

In [28]:
contact_info_df.dtypes

contact_id     int64
first_name    object
last_name     object
email         object
dtype: object